<%- include('../partials/head') %>
</head>
<body>
    <h1 class="text-red-600  bg-blue-600">Welcome to exercise</h1>
    <form action="/form-detail" method="post">
        <input  class="border border-black mx-3 my-1 px-3" type="text" name="username" placeholder="Enter your username"> <br>
        <input  class="border border-black mx-3 my-1 px-3" type="email" name="email" placeholder="Enter your email"> <br>
        <button class="border border-black m-3 px-3"  type="submit">Submit</button>
    </form>
</body>
</html>