<%- include('../partials/head') %>
</head>
<body>
    <%- include('../partials/header') %>
    <form action="/form-detail" method="post">
        <input  class="border border-black mx-3 my-1 px-3" type="text" name="username" placeholder="Enter your username"> <br>
        <input  class="border border-black mx-3 my-1 px-3" type="email" name="email" placeholder="Enter your email"> <br>
        <span>Gender</span>
        <label for="male">Male<input type="radio" name="gender" value="male" id="male"></label>
        <label for="female">Female<input type="radio" name="gender" value="female" id="female"></label> <br>
        <button class="border border-black m-3 px-3"  type="submit">Submit</button>
    </form>
</body>
</html>