<header class="text-white  bg-blue-600">
        <% if(bodyUrl == '/') { %>
        <a href="/" class="bg-white text-blue-600">Home</a> |
        <a href="/form-detail">form detail</a>
        <%} else {%>
        <a href="/">Home</a> |
        <a href="/form-detail" class="bg-white text-blue-600">form detail</a>
        <%}%>
        
</header>