<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/index.css">
    <link rel="stylesheet" href="/index.css">
    <title>Practice</title>
</head>
<body>
    <h1 class="text-red-600  bg-blue-600 text-right">Welcome to exercise</h1>
    <form action="/form-detail" method="post">
        <input type="text" name="username" placeholder="Enter your username"> <br>
        <input type="email" name="email" placeholder="Enter your email"> <br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>